<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gofa">
  <xacro:include filename="$(find gofa_description)/urdf/gofa.urdf.xacro" />
  <xacro:include filename="$(find calibration)/model/calibrator_softhand_industry.urdf.xacro"/>
  <xacro:gofa />

  <!-- from the CAD model, the frame coincides with the 7-th link -->
  <xacro:calibrator_softhand_industry name="calibrator_softhand_industry" parent="tool0">
    <origin xyz="-0.0065 0 0" rpy="1.5707963 1.5707963 0"/> <!-- il frame della mesh del calibrator è sulla superfice esterna -->
  </xacro:calibrator_softhand_industry>


</robot>
