<launch>

  <arg name="calibration_name" default="asus_phase_space_calib"/>

  <group ns="asus_phasespace">
  	<rosparam command="load" file="$(find calibration)/config/$(arg calibration_name).yaml" />
  	<param name="calibration_name" value="$(arg calibration_name)"/>
  	<node pkg="calibration" type="simple_calibrator" name="asus_phasespace_tf_broadcaster" respawn="true" output="screen" />
  </group>

</launch>
