<launch>

  	<arg name="camera_name"              		default="camera"/>		<!-- Note: Replace with camera name -->
    <arg name="serial_no_camera_name"       default="108222250674"/>
  	<!-- <arg name="serial_no_camera_name"    		default="839212060194"/> -->
  

    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
  	<!-- <include file="$(find calibration_softbots)/launch/rs_rgbd_HD.launch"> -->
		<arg name="camera" 	value="$(arg camera_name)" />
		<arg name="serial_no" 	value="$(arg serial_no_camera_name)"/>
	  </include>


<!-- //////////////////////////////////////////////////// FRANKA //////////////////////////////////////////////////// -->
  	<group ns="setup1">
		<param name="tf_prefix" value="setup1"></param>
    	<include file="$(find calibration)/launch/franka_gripper_calibration.launch">
    		<arg name="robot_ip"         value="172.16.0.102"/>
   		</include>
  	</group>


<!-- //////////////////////////////////////////////////// ARUCO //////////////////////////////////////////////////// -->

  	<group ns="aruco_CT">
		<param name="tf_prefix" value="aruco_CT"></param>
  		<include file="$(find calibration)/launch/single.launch">
    		<arg name="markerId"        	value="57"/>
			<arg name="markerSize"      	value="0.05"/>    <!-- in m -->
    		<arg name="marker_frame"    	value="aruco_CT/aruco_marker_frame"/>
  			<arg name="camera_info_topic"	value="/$(arg camera_name)/color/camera_info"/>
  			<arg name="image_topic"			value="/$(arg camera_name)/color/image_rect_color"/>
  			<arg name="camera_frame"		value="$(arg camera_name)_color_optical_frame"/>
  			<arg name="corner_refinement" 	value="LINES" />
    	</include>
  	</group>


  	<!-- //////////////////////////////////////////////////// CALIBRATION //////////////////////////////////////////////////// -->


  	<group ns="calib_CT">
		<arg name="calibration_name" default="d415_R_franka_calib1"/>

		<param name="tf_prefix" value="calib_CT"></param>
		<param name="frame_id" value="$(arg camera_name)_color_optical_frame" />
		<param name="ar_marker_frame" value="aruco_CT/aruco_marker_frame" />
		<param name="child_frame_id" value="setup1/panda_link0" />
		<param name="calibrator_frame" value="setup1/calibrator_pandagripper"/>
		<param name="calibration_name" value="$(arg calibration_name)"/>
    	<node name="franka_arm_d415_calibrator" pkg="calibration" type="average_calibrator" respawn="true" output="screen"/>
    </group>


</launch>
