<?xml version="1.0" ?>
<launch>

    <arg name="markerId"        default="5"/>
    <arg name="markerSize"      default="0.06"/>    <!-- in m -->
    <!-- <arg name="markerSize"      default="0.098"/>  -->   <!-- in m -->
    <arg name="eye"             default="left"/>
    <arg name="marker_frame"    default="aruco_marker_frame"/>
    <arg name="ref_frame"       default=""/>  <!-- leave empty and the pose will be published wrt param parent_name -->
    <arg name="corner_refinement" default="LINES" /> <!-- NONE, HARRIS, LINES, SUBPIX -->
    <arg name="camera_info_topic"             default="/camera/color/camera_info"/>
    <arg name="image_topic"             default="/camera/color/image_rect_color"/>
    <arg name="camera_frame"             default="camera_color_optical_frame"/>

    <node pkg="aruco_ros" type="single" name="aruco_single">
        <!-- <remap from="/camera_info" to="/kinect2/qhd/camera_info" /> -->
        <remap from="/camera_info" to="$(arg camera_info_topic)" />
        <!-- <remap from="/image" to="/kinect2/qhd/image_color_rect" /> -->
        <remap from="/image" to="$(arg image_topic)" />
        <param name="image_is_rectified" value="True"/>
        <param name="marker_size"        value="$(arg markerSize)"/>
        <param name="marker_id"          value="$(arg markerId)"/>
        <param name="reference_frame"    value="$(arg ref_frame)"/>   <!-- frame in which the marker pose will be refered -->
        <!-- <param name="camera_frame"       value="kinect2_rgb_optical_frame"/> -->
        <param name="camera_frame"       value="$(arg camera_frame)"/>
        <param name="marker_frame"       value="$(arg marker_frame)" />
        <param name="corner_refinement"  value="$(arg corner_refinement)" />
    </node>

</launch>

