<launch>

  <arg name="calibration_name" default="tracker_object_calib"/>
  <arg name="tracked_object" default="object"/>
  
	<!-- ASUS TOPICS -->
	<!-- launch the ar tracker, units in cm, adjust at will -->
	
	<arg name="cam_image_topic" default="/camera/depth_registered/points" />
	<arg name="cam_info_topic" default="/camera/depth_registered/camera_info" />
	<arg name="output_frame" default="/camera_rgb_optical_frame" />

	<!-- Launch scene filter wich calls openni2 -->
	<include file="$(find scene_filter_node)/launch/scene_filter_phase_space.launch"/>

	<!-- OBJECT POSE ESTIMATION -->
	<include file="$(find pose_estimation_online)/launch/pose_estimation_online.launch">
    <arg name="object_calibration" value="true"/>
    <arg name="iterations_in_prog_bisection" value="20"/>
    <arg name="neighbors" value="30"/>
  </include>

	<!-- PHASE SPACE TOPICS -->
	<!-- track the star with the phase space -->
	<include file="$(find phase_space)/launch/track_object.launch">
		<arg name="object" value="star" />
		<arg name="turn_rviz_on" default="False" />
		<arg name="turn_phase_space_on" default="True" />
	</include>

	<!-- Launch asus phase space broadcaster -->
	<include file="$(find calibration)/launch/asus_phase_space_broadcaster.launch" />

	<!-- CALIBRATION SETUP -->
	<group ns="tracker_object_calib" >
		<param name="frame_id" value="star" /> <!-- respect the ar marker is obtained with -->
		<param name="ar_marker_frame" value="star" /> <!-- use the transform output by pose estimation online-->
		<param name="child_frame_id" value="object" />
		<param name="calibrator_frame" value="star"/>
    <param name="calibration_name" value="$(arg calibration_name)"/>
    <param name="tracked_object" value="$(arg tracked_object)"/>

		<node name="tracker_object_calib" pkg="calibration" type="simple_calibrator" respawn="true" output="screen" />
	</group>

	<node name="myCustomTrackerRviz" launch-prefix="" pkg="rviz" type="rviz" respawn="false" args="-d $(find calibration)/launch/tracker_object.rviz" output="screen"/>

</launch>
